@model App.Models.ViewModel.PatientViewModel
<!--**********************************
       Content body start
   ***********************************-->
<div class="col-xl-12 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Patient Details</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Name :</label>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.PatientModel.Name)
                    </div>
                </div>
                @* <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Serial Number :</label>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.Patient.SerialNumber)
                    </div>
                </div> *@
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Age :</label>
                    <div class="col-sm-9">

                        @Html.DisplayFor(model => model.PatientModel.Age)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Sex :</label>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.PatientModel.Gender)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Address :</label>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.PatientModel.Street),  @Html.DisplayFor(model => model.PatientModel.City),  @Html.DisplayFor(model => model.PatientModel.State)  @Html.DisplayFor(model => model.PatientModel.ZipCode)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Mobile No :</label>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.PatientModel.PhoneNumber)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">CADS No :</label>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.PatientModel.CADSNumber)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">OPD/ Casualty No :</label>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.PatientModel.OPDNumber)
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Consultants :</label>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.PatientModel.Dr_Name)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Senior  :</label>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.PatientModel.SeniorResident)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Junior :</label>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.PatientModel.JuniorResident)
                    </div>
                </div>
                <a target="_blank" href="@Url.Action("Patientdata", "Patient",  new { PatientID = @Model.PatientModel.PatientID,ViewName="Print" })" class="btn btn-primary">Print Data</a>
               
            </div>

        </div>
    </div>
</div>


<!--**********************************
    Content body end
***********************************-->

