@model App.Models.ViewModel.PatientViewModel

<div class="col-xl-12 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Operation Details</h4>
        </div>
        <div class="card-body">


            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Indication:</label>
                <div class="col-sm-9">
                    @Html.DisplayFor(model => model.Operation.Indication)
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Anaesthetist:</label>
                <div class="col-sm-9">
                    @Html.DisplayFor(model => model.Operation.Anaesthetist)
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">OpertingSurgeon:</label>
                <div class="col-sm-9">
                    @Html.DisplayFor(model => model.Operation.OpertingSurgeon)
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Position:</label>
                <div class="col-sm-9">
                    @Html.DisplayFor(model => model.Operation.Position)
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Findings:</label>
                <div class="col-sm-9">
                    @Html.DisplayFor(model => model.Operation.Findings)
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Duration:</label>
                <div class="col-sm-9">
                    @Html.DisplayFor(model => model.Operation.Duration)
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Steps Of Operation:</label>
                <div class="col-sm-9">
                    @Html.DisplayFor(model => model.Operation.StepsOfOperation)
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Antibiotics:</label>
                <div class="col-sm-9">
                    @Html.DisplayFor(model => model.Operation.Antibiotics)
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">SpecimensSentFor:</label>
                <div class="col-sm-9">
                    @Html.DisplayFor(model => model.Operation.SpecimensSentFor)
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">PostOperativeInstructions:</label>
                <div class="col-sm-9">
                    @Html.DisplayFor(model => model.Operation.PostOperativeInstructions)
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Date:</label>
                <div class="col-sm-9">
                    @Html.DisplayFor(model => model.Operation.Date)
                </div>
            </div>
            <a target="_blank" href="@Url.Action("Operation", "Patient",  new { PatientID = @Model.Operation.PatientID,ViewName="Print" })" class="btn btn-primary">Print Data</a>
        </div>
    </div>
</div>

