@model App.Models.ViewModel.PatientViewModel

@{
    ViewData["Title"] = "Edit";
}




<!--**********************************
           Content body start1
       ***********************************-->
<div class="content-body">
    <div class="container-fluid">
        <div class="page-titles">
            <h4>Patient Details</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Patient Details</a></li>
            </ol>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-xl-12 col-xxl-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Patient Details</h4>
                        <input type="hidden" asp-for="PatientModel.PatientID" />
                    </div>
                    <div class="card-body">
                        <ul class="nav nav-pills">
                            <li class="active"><a href="#AddPatient" data-toggle="tab">Add Patient</a></li>
                            <li><a href="#AddInvestigation" onclick="AddInvestigation(@Model.PatientModel.PatientID)" data-toggle="tab">Add Investigation</a></li>
                            <li><a href="#AddPicture" onclick="AddPicture(@Model.PatientModel.PatientID)" data-toggle="tab">Add Picture</a></li>
                            <li><a href="#Progress" onclick="Progress(@Model.PatientModel.PatientID)" data-toggle="tab">Progress</a></li>
                            <li><a href="#Diagnosis" onclick="Diagnosis(@Model.PatientModel.PatientID)" data-toggle="tab">Diagnosis</a></li>
                            <li><a href="#CaseSheet" onclick="CaseSheet(@Model.PatientModel.PatientID)" data-toggle="tab">CaseSheet</a></li>
                            <li><a href="#Operation" onclick="Operation(@Model.PatientModel.PatientID)" data-toggle="tab">Operation</a></li>
                            <li><a href="#Discharge" onclick="Discharge(@Model.PatientModel.PatientID)" data-toggle="tab">Discharge</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="AddPatient" class="tab-pane active">
                                <div id="EditPatient"></div>
                            </div>
                            <div id="AddInvestigation" class="tab-pane">
                                <div id="AddInvestigationPartialView"></div>
                            </div>
                            <div id="AddPicture" class="tab-pane">
                                <div id="EditPicture"></div>
                            </div>
                            <div id="Progress" class="tab-pane">
                                <div id="ProgressData"></div>
                            </div>
                            <div id="Diagnosis" class="tab-pane">
                                <div id="DiagnosisData"></div>
                            </div>
                            <div id="CaseSheet" class="tab-pane">
                                <div id="CaseSheetData"></div>
                            </div>
                            <div id="Operation" class="tab-pane">
                                <div id="OperationData"></div>
                            </div>
                            <div id="Discharge" class="tab-pane">
                                <div id="DischargeData"></div>
                            </div>
                        </div>

                        @*<button id="prevBtn" class="btn btn-secondary">Previous</button>
                        <button id="nextBtn" class="btn btn-primary">Next</button>*@
                    </div>

                </div>


            </div>

        </div>
    </div>
</div>
<style>
    .tab-container {
        margin-top: 20px;
    }

    .nav-pills {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

        .nav-pills li {
            display: inline-block;
        }

            .nav-pills li a {
                display: block;
                padding: 10px 18px;
                background-color: #f2f2f2;
                color: #333;
                text-decoration: none;
            }

            .nav-pills li.active a {
                background-color: #ccc;
            }

    .tab-content {
        margin-top: 20px;
        border: 1px solid #ccc;
        padding: 20px;
    }

    .button-container {
        margin-top: 20px;
        text-align: right;
    }

        .button-container button {
            margin-left: 10px;
        }
</style>


@section scripts{

    @*<script src="~/lib/select2/js/select2.min.js"></script>*@
    <script src="~/customJs/AddPatient.js"></script>
    <script src="~/customJs/Investigation.js"></script>
    <script src="~/customJs/Progress.js"></script>
    <script src="~/customJs/Discharge.js"></script>
    <script src="~/customJs/ImageLoad.js"></script>
    <script src="~/customJs/Operation.js"></script>
    <script src="~/customJs/Diagnosis.js"></script>
    <script>


        $(document).ready(function () {

            var id = $("#PatientModel_PatientID").val();

            $.ajax({
                url: '/Patient/Patientdata', // Replace "ControllerName" with the actual name of your controller
                type: 'GET',
                data: { PatientID: id, ViewName: "Edit"  },
                success: function (result) {
                    $('#EditPatient').html(result); // Replace the content of the container with the loaded partial view
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText); // Log any error that occurred during the AJAX request
                }
            });


            var rowCount = $('#myTable tr').length;
            if (rowCount==4) {
               // $('#Adddata').attr("disabled", "disabled");
                $('#Adddata').val("Update Investigation");
                /*$('#Adddata').attr("type", "hidden");*/

            } else {
                $('#Adddata').val("Add new Investigation");
            }

            $('.nav-pills li').click(function () {
                // Remove active class from all li items
                $('.nav-pills li').removeClass('active');

                // Add active class to the clicked li item
                $(this).addClass('active');

                // Get the corresponding tab ID
                var tabId = $(this).find('a').attr('href');

                // Hide all tab panes
                $('.tab-content .tab-pane').removeClass('active');

                // Show the corresponding tab pane
                $(tabId).addClass('active');
            });

            $('#prevBtn').click(function () {
                var activeTab = $('.nav-pills > .active');
                if (activeTab.prev('li').length === 1) {
                    activeTab.removeClass('active').prev('li').addClass('active');
                    $('.tab-content > .active').removeClass('active').prev('.tab-pane').addClass('active');
                }
            });

            $('#nextBtn').click(function () {
                var activeTab = $('.nav-pills > .active');
                if (activeTab.next('li').length === 1) {
                    activeTab.removeClass('active').next('li').addClass('active');
                    $('.tab-content > .active').removeClass('active').next('.tab-pane').addClass('active');
                }
            });

        });
        function OnClickEdit(Id) {
             var selectedValue = Id;

                $.ajax({
                    url: '@Url.Action("DaysEdit", "Patient")',
                    type: 'GET',
                    data: { investigationId: Id },
                    success: function (data) {

                        $("#InvestigationList_0__Id").val(data[0].id);
                        $("#InvestigationList_0__CBC").val(data[0].cbc);
                        $("#InvestigationList_0__RFT").val(data[0].rft);
                        $("#InvestigationList_0__BloodSugar").val(data[0].bloodSugar);
                        $("#InvestigationList_0__SerumElectrolytes").val(data[0].serumElectrolytes);
                        $("#InvestigationList_0__LipidProfile").val(data[0].lipidProfile);
                        $("#InvestigationList_0__USG").val(data[0].usg);
                        $("#InvestigationList_0__CECT").val(data[0].cect);
                        $("#InvestigationList_0__MRI").val(data[0].mri);
                        $("#InvestigationList_0__FNAC").val(data[0].fnac);
                        $("#InvestigationList_0__TrucutBiopsy").val(data[0].trucutBiopsy);
                        $("#InvestigationList_0__ReceptorStatus").val(data[0].receptorStatus);
                        $("#InvestigationList_0__MRCP").val(data[0].mrcp);
                        $("#InvestigationList_0__ERCP").val(data[0].ercp);
                        $("#InvestigationList_0__EndoscopyUpperGI").val(data[0].endoscopyUpperGI);
                        $("#InvestigationList_0__EndoscopyLowerGI").val(data[0].endoscopyLowerGI);
                        $("#InvestigationList_0__PETCT").val(data[0].petct);
                        $("#InvestigationList_0__TumorMarkers").val(data[0].tumorMarkers);
                        $("#InvestigationList_0__SONOMMOGRAPHY").val(data[0].sonommography);
                        $("#InvestigationList_0__LFT").val(data[0].lft);
                        $("#InvestigationList_0__TSPAG").val(data[0].tspag);
                        $("#InvestigationList_0__TFT").val(data[0].tft);
                        $("#InvestigationList_0__Day").val(data[0].day);
                        $("#InvestigationList_0__PatientID").val(data[0].patientID);

                    }
                });
        }


        function AddInvestigation(id) {
            $.ajax({
                url: '/Patient/AddInvestigation', // Replace "ControllerName" with the actual name of your controller
                type: 'GET',
                data: { PatientID: id, ViewName: "Edit"},
                success: function (result) {
                    $('#AddInvestigationPartialView').html(result); // Replace the content of the container with the loaded partial view
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText); // Log any error that occurred during the AJAX request
                }
            });
        }
        function AddPicture(id) {
            $.ajax({
                url: '/Patient/AddPicture', // Replace "ControllerName" with the actual name of your controller
                type: 'GET',
                data: { PatientID: id, ViewName: "Edit"},
                success: function (result) {
                    $('#EditPicture').html(result); // Replace the content of the container with the loaded partial view
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText); // Log any error that occurred during the AJAX request
                }
            });
        }
        function Progress(id) {
            $.ajax({
                url: '/Patient/Progress', // Replace "ControllerName" with the actual name of your controller
                type: 'GET',
                data: { PatientID: id, ViewName: "Edit" },
                success: function (result) {
                    $('#ProgressData').html(result); // Replace the content of the container with the loaded partial view
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText); // Log any error that occurred during the AJAX request
                }
            });
        }
        function Diagnosis(id) {
            $.ajax({
                url: '/Patient/DiagnosisEdit', // Replace "ControllerName" with the actual name of your controller
                type: 'GET',
                data: { PatientID: id, ViewName: "Edit"},
                success: function (result) {
                    $('#DiagnosisData').html(result); // Replace the content of the container with the loaded partial view
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText); // Log any error that occurred during the AJAX request
                }
            });
        }
        function CaseSheet(id) {
            $.ajax({
                url: '/Patient/CaseSheet', // Replace "ControllerName" with the actual name of your controller
                type: 'GET',
                data: { PatientID: id, ViewName: "Edit"},
                success: function (result) {
                    $('#CaseSheetData').html(result); // Replace the content of the container with the loaded partial view
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText); // Log any error that occurred during the AJAX request
                }
            });
        }
        function Operation(id) {
            $.ajax({
                url: '/Patient/Operation', // Replace "ControllerName" with the actual name of your controller
                type: 'GET',
                data: { PatientID: id, ViewName: "Edit" },
                success: function (result) {
                    $('#OperationData').html(result); // Replace the content of the container with the loaded partial view
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText); // Log any error that occurred during the AJAX request
                }
            });
        }
        function Discharge(id) {
            $.ajax({
                url: '/Patient/Discharge', // Replace "ControllerName" with the actual name of your controller
                type: 'GET',
                data: { PatientID: id, ViewName: "Edit" },
                success: function (result) {
                    $('#DischargeData').html(result); // Replace the content of the container with the loaded partial view
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText); // Log any error that occurred during the AJAX request
                }
            });
        }



    </script>
}

